/* Chapter 48-52 */
/* body{
    text-align: center;
    font-family: sans-serif;
}

.edt,.btn{
    background-color: black;
    color: azure;
    padding: 10px;
    margin: 10px;
} */



/* .wrapper{
   display: flex;
   display: inline-flex;
}

#zoomtext {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
  }
  .mnm{
      text-align: center !important;
  } */

